
{% load static %}

<div id="correo-modal" class="modal popupContentWrapper">
    <div class="popup-content">
        <span onclick="toggleModal('correo-modal')" class="close">&times;</span>
        <form action="{% url 'correos' %}" method="post" style="text-align: center;">
            <h5>Añadir nuevo correo</h5>
            <div>
                {% csrf_token %}
                <input autocomplete="on" name="instruccion" id="instruccion" value="crear-correo" type="hidden">
                <input type="text" class="Before-FS" required="True" autocomplete="off" name="nombre">
                <input type="submit" class="submit" value="Añadir">
            </div>
            
        
        </form>
    </div>
</div>