.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 200;
    height: calc(100vh - 81px);
    overflow-y: auto;
}

.box {
    width: 95%;
    background: var(--color-white);
    /*background: #212529;*/
    margin-top: 15px;
}
.box-auto {
    padding: 0px 20px;
    width: fit-content;
}
.box-header {
    padding: 15px 15px 0;
    display: flex;
    justify-content: space-between;
}
.box-header-info {
    display: flex;
    align-items: center;
}
.email-text {
    margin-right: 20px;
}
.box-body {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box-body-left {
    justify-content:left;
}
.pc-box {
    width:100%;
    font-size: 13px;
}
.pc-box > a {
    color: #1d8cf8;
    text-decoration: none;
}
.pc-box > div,
.pc-box > a > div{
    display: flex;
    align-items: center;
}
.pc-box > div {
    justify-content: flex-end;
    width: 100%;
}
.pc-box svg {
    margin-right: 10px;
}

.pc-options-box {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.pc-active{
    color: #ffffff !important;
}

.icon {
    vertical-align: bottom;
    margin-left: 3px;
    filter: invert(72%) sepia(1%) saturate(1658%) hue-rotate(204deg) brightness(84%) contrast(70%); /*grey*/
}

.drop-icon:hover .icon {
    filter: invert(10%) sepia(5%) saturate(377%) hue-rotate(316deg) brightness(100%) contrast(78%); /*black*/
}

.drop-icon {
    cursor: pointer;
    display: flex;
    justify-content: end;
    width: 100%;
    color: white !important;
}

.drop-icon .subtitle h6 {
    color: var(--color-grey);
}

.drop-icon:hover .subtitle h6 {
    color: var(--color-black) !important;
}

.drop-icon > div {
    display: flex;
}
.drop-up {
    display: none;
}

.button {
    margin-right: 5px;
    border: 0;
    padding: 11px 40px;
    color: white;
    cursor: pointer;
}

.button h6 {
    color: var(--color-white);
}

.blue-btn {
    background-color: var(--color-grey);
}
.blue-btn:hover {
    background-color: #a7a7aa;
}

.red-btn {
    background-color: var(--color-red);
}
.red-btn:hover {
    background-color: #fa6f68;
}

.mail-icon {
    filter: invert(35%) sepia(40%) saturate(6440%) hue-rotate(352deg) brightness(95%) contrast(90%); /*orange*/
    margin-right: 10px;
    margin-bottom: -3.5px;
}

/*table*/
#credenciales {
    border-collapse: collapse;
    width: 100%;
    color: var(--color-black);
}

#credenciales td, #credenciales th {
    border-bottom: 1px solid var(--color-grey-soft);
    padding: 8px;
}
  
#credenciales th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: none;
    text-align: left;
}

#credenciales th h6 {
    color: var(--color-black) !important;
    font-weight: 600;
}

#credenciales tr:nth-child(even){background-color: none}

#credenciales tr:hover {background-color: none;}

.itemList {
    border: none;
    background-color: var(--color-white);
    color: #2F2F2F;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px;
    width: calc(100% - 12px);
    cursor: pointer;
}

.itemList:hover > input {
    color: var(--color-orange);
}

.itemList > input {
    border: none;
    cursor: pointer;
    background-color: var(--color-white);
    text-decoration: none;
    font-family: Poppins,sans-serif;
    font-size: 11px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-black);
}

.emailDepartmentList {
    width: calc(100% - 6px) !important; 
    padding: 0;
    border: 3px solid var(--color-grey-soft);
    left: 0 !important;
}

.buttonSelector {
    position: relative
}